<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="footer">
                <div class="row">
                    <div class="container-fluid">
                        <div class="social-media-icons pull-right">
                            <div>
                                <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                                <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
                                <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                                <i class="fa fa-2x fa-youtube-play" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>