<header>
    <nav class="navbar navbar-default main-nav d4-navbar" id="d4-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Mobile menu toggle button (hamburger/x icon) -->
                <input id="main-menu-state" type="checkbox" data-toggle="collapse" data-target="#nav-links" />
                <label class="main-menu-btn" for="main-menu-state" data-toggle="collapse" data-target="#nav-links">
                        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
                    </label>

                <a href="/">
                    <img id="logo-image" class="img img-responsive d4-logo" src="/images/D4_Logo_TM_RGB.jpg" />
                </a>
            </div>
            <div class="navbar-collapse collapse" id="nav-links">
                <ul id="main-menu" class="nav navbar-nav navbar-right d4-nav-links sm sm-clean">
                    <li>
                        <a href="#">Technology</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Tech 1</a></li>
                            <li><a href="#">Tech 2</a></li>
                            <li><a href="#">Tech 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/solutions">Solution</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Healthcare</a></li>
                            <li><a href="#">Real Estate</a></li>
                            <li><a href="#">Finance</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Company</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Leadership</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Press</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Press 1</a></li>
                            <li><a href="#">Press 2</a></li>
                            <li><a href="#">Press 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Career</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Career 1</a></li>
                            <li><a href="#">Career 2</a></li>
                            <li><a href="#">Career 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>